@keyframes am-show-aj {
    0% {
        opacity   : 0;
        transform : perspective(400px) rotateY(80deg);
    }
    40% {
        transform : perspective(400px) rotateY(-20deg);
    }
    70% {
        transform : perspective(400px) rotateY(10deg);
    }
    90% {
        transform : perspective(400px) rotateY(-5deg);
    }
    100% {
        opacity   : 1;
        transform : perspective(400px) rotateY(0deg);
    }
}

// 引用
%am-show-aj {
    opacity              : 0;
    transform            : perspective(400px) rotateY(80deg);
    transform-style      : preserve-3d;
    animation-play-state : paused;
    backface-visibility  : visible;
}

// 即用
//.am-show-aj {
//    @extend %am-show-aj;
//    animation : am-show-aj .3s both;
//}
