/*
 * 警告：这个源文件未做兼容性处理，建议你使用dist/css下打包好的css文件，如需使用这个源文件，请保证您的打包软件会自动添加前缀，使用本项目打包脚手架会自动添加前缀！
 *
 */

.mc-toast[data-theme="ab"] {
  display  : inline-table;
  position : fixed;
  width    : 100%;
  height   : 100%;
  top      : 0;
  left     : 0;
  z-index  : 900;
}

.mc-toast[data-theme="ab"] > * {
  display        : table-cell;
  vertical-align : top;
  text-align     : center;
  height         : 100%;
  width          : 100%;
  position       : relative;
}

.mc-toast[data-theme="ab"] .mc-toast-content {
  display             : inline-block;
  color               : #fff;
  padding             : 1em;
  width               : 100%;
  min-width           : 6rem;
  box-sizing          : border-box;
  transform           : translate3d(0, -100%, 0);
  transform-style     : preserve-3d;
  backface-visibility : hidden;
}

.mc-toast[data-theme="ab"] .mc-toast-content * {
  margin     : 0;
  word-break : break-all;
}

/*图标*/
.mc-toast[data-theme="ab"] .mc-toast-icon {
  text-align : center;
  margin     : 0;
  height     : 1rem;
  display    : inline-block;
}

.mc-toast[data-theme="ab"] .mc-toast-icon > * {
  position       : relative;
  display        : inline-block;
  width          : 1.25em;
  height         : 1.25em;
  top            : 2px;
  margin-right   : .2em;
  text-align     : center;
  vertical-align : top;
}

/*文字*/
.mc-toast[data-theme="ab"] .mc-toast-text {
  display : inline-block;
}

@keyframes rotate0-360 {
  0% {transform : rotate(0deg);}
  100% {transform : rotate(360deg);}
}

@-webkit-keyframes rotate0-360 {
  0% {-webkit-transform : rotate(0deg);}
  100% {-webkit-transform : rotate(360deg);}
}

/*成功*/
.mc-toast[data-theme="ab"][data-icon="success"] {
  .mc-toast-content {
    background : rgba(90, 166, 47, 0.95);
  }
  .mc-toast-icon > * {
    background      : url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACQAAAAkCAMAAADW3miqAAAARVBMVEUAAAD///////////////////////////////////////////////////////////////////////////////////////9SnXPCAAAAFnRSTlMAuaCtbMg2jxJi3dJ0QSbnVQhKGPR+M2ae2AAAASRJREFUOMu1lEsWgyAMRSEQ5SN+27f/pfYUAYvgsJmYhGvyDDmKP5kJmqSkaT8ekYFeyEZ7F5klALAkUvyFeWgZ/c1rk9paCeB9Z0bA7VVvBlTNUJNpcxoYWwVTlZ3zO62GS73HIrrGcEUjEFrA2thiTaECd0cy/BwZwPYYaWKTOcY7YHpMdFwq8Ab3mCyF0lM9MmJMnjzh7aiY7FfQtiCUQctrEEkLQZ0QQl0nCk7BdMLmpK46uUIawWuLlAOGtWaExxSfR5x9qnVj5nLFMh8c7r4OVG445NkLwzVjAJ19By+6prBsP7sy9hgLrNUK6pZZbwplp5bGXYUC1FB9PAG8tUsPCkVlDDsKPACvRm1HYgDOip5ZRjGvn/8rmiSzpGkQ/7EPyUATRTQNh68AAAAASUVORK5CYII=") no-repeat center;
    background-size : contain;
  }
}

/*警告*/
.mc-toast[data-theme="ab"][data-icon="warning"] {
  .mc-toast-content {
    background : rgba(255, 153, 0, .95);
  }
  .mc-toast-icon > * {
    background      : url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACQAAAAkCAMAAADW3miqAAAAM1BMVEUAAAD///////////////////////////////////////////////////////////////+3leKCAAAAEHRSTlMA0BCA8EDAMKCQ4FAgcLBg6sJG1gAAAPNJREFUOMu1lEmWBCEIREHBMbM67n/a3tiFil25Klbi+2LIIH3JekkMcKr9PyIUwdukhhMTBeBbM1HWmwGJPgwD5TL/KgBvwXID522L0Zat0PAKLnhCmzcZLxqWgGRrnjSDwwKZ0PheCzKdIMqQv9MFhWYomldQx0owvb0u0AUZtQDPOV0gYvQR8vaQuXWo0BX6mVxFGhHzAi1n8tACkIPMgAPUPeSvU3+dF64AHYRX3A5aUuCTecVILplWFrOtLL7AKqJbgX2rCCCTQAlL0xnUtqbz7autqW/f50F4Hqnn4fw45tHGfNdQ3YdxtF7t6/mK/QJB6AybGTsu8wAAAABJRU5ErkJggg==") no-repeat center;
    background-size : contain;
  }
}

/*错误*/
.mc-toast[data-theme="ab"][data-icon="error"] {
  .mc-toast-content {
    background : rgba(223, 46, 50, .95);
  }
  .mc-toast-icon > * {
    background      : url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACQAAAAkCAMAAADW3miqAAAAM1BMVEUAAAD///////////////////////////////////////////////////////////////+3leKCAAAAEHRSTlMA8DDAUBCAoECwcJAgr2DQMhtbYgAAAOJJREFUOMu1lFsSwyAIRRtBEnw07n+1jVphrM3oT/iR0aP3RiGvh8IieQBPaG8RjEki4l/kgLwITMQ1O0aGrnlG22QzR79mdt2qB++9tYvZWz7MqdZ7dPDuFA/ZM5ylFiBB9uWCrhtnZaEE1g0ubUaYLbkq0e6LE+chbEKZKw1Vg7+f33CTKUmaiNVEKRm6A6i4U0qYqkdl9EVXqcqIX9/BjRJGZebQqtzc+OoVzC+z6YIsjc+y9sD3pRJKqZwJlotuXr7zRpi11Ckt1Tcn9M3pbts8EkVt8zGQkwTjyq/nmfgAVlYOxUHud/oAAAAASUVORK5CYII=") no-repeat center;
    background-size : contain;
  }
}

/*加载中*/
.mc-toast[data-theme="ab"][data-icon="loading"] {
  .mc-toast-content {
    background : rgba(124, 73, 179, .95);
  }
  .mc-toast-icon > * {
    background      : url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACQAAAAkBAMAAAATLoWrAAAALVBMVEUAAAD///////////////////////////////////////////////////////+hSKubAAAADnRSTlMAwD+wD4CQYNCgUPFwILQSYgkAAADQSURBVCjPYyAFsJQmioU7IIuw270DgscFCBEmuXcPTYOBhAJcKO+dlANQ88J3z2Aizu+aIAyNdyZQIbuXMMl5jyE027sDMCHWdwlgWg+oCK7sEZjqa0AIcTwEu+mdApJz3oHcxgyUQAA5AyDh9wpZqO4JlEAAv+dAIk4AWYjxKcg3BtDAABEOzM9ABgZAhPpAgbGX9SG60BOgEEIjkxIQgDRiGo/piFdYnYrpIUxvgyVQAgdXELK9C0AJaMzowIw0zKjFTACYyQQ9MUU5kJL8ALlUXfjrMDooAAAAAElFTkSuQmCC") no-repeat center;
    background-size : contain;
    animation       : rotate0-360 linear 1s infinite;
  }
}

/*无网络*/
.mc-toast[data-theme="ab"][data-icon="network"] {
  .mc-toast-content {
    background : rgba(35, 38, 36, 0.9);
  }
  .mc-toast-icon > * {
    background      : url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACQAAAAkCAMAAADW3miqAAAARVBMVEUAAAD///////////////////////////////////////////////////////////////////////////////////////9SnXPCAAAAFnRSTlMA9EILh3AbV+PBJc9NLtmnknw3sp9kPuMU1QAAASNJREFUOMvVkttygzAMRDHCN8AQoNn//9TGlmwUkmn61uk+eCbSQZeNur8VuYfofWosr40QTfYVDBge7wolM1wxg0zdsAy96zrXbxOAsD9DPVNORXJn/5bSsj9R40hnKOmv+kZtebeNCgUspCobqtTAu3npuDWXDKazY+/LbjZnpvw1ywPz81zecGgG7gJFhOv0yXCNgNisvBVnZl2LG95gBGI/IqKutSAyK3MDSeopimskgCrkymuzk5WyJe0UNFYohUr5F2gv7b6yM42y2YO9Qh2bcZSlXWxU1p0HbzW8ZBypHddmwcrGTe00GkUGq4RmwIrLl8vZ+d8R4wKVzHG9r+G8RI881adbPQD7kXLhN1TSAU2RDoztcjS1rOqXmPif9A0H/hVtqRg9iAAAAABJRU5ErkJggg==") no-repeat center;
    background-size : contain;
  }
}

/*动画*/
@keyframes toast-show-ab {
  0% {transform : translate3d(0, -100%, 0);}
  100% {transform : translate3d(0, 0, 0);}
}

[data-theme="ab"][data-view="show"] .mc-toast-content {
  animation : toast-show-ab .3s forwards;
}

@keyframes toast-hide-ab {
  0% {transform : translate3d(0, 0, 0);}
  100% {transform : translate3d(0, -100%, 0);}
}

[data-theme="ab"][data-view="hide"] .mc-toast-content {
  animation : toast-hide-ab .3s forwards;
}